/node_modules
*.log
.DS_Store
.env
/.cache
/public/build
/build

/fly/node_modules

.github
architect
netlify
pages
server
vercel
workers

seed.ts
sync.ts
README.md
.gitattributes
.gitignore
pscale_dump_remix-testing_main